.animals {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1rem;
  row-gap: 2rem;
  padding: 1rem;
  position: relative;
}

.anima-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  align-items: center;
}

.anima-card>img {
  border-width: 0;
  padding: 0;
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.anima-card>span:nth-of-type(1) {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1rem;
}

.anima-card>span:nth-of-type(2) {
  font-weight: 200;
  font-family: sans-serif;
  font-size: 1rem;
  color: gray;
}

.btn-wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-wrap>span {
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.btn-wrap>span:nth-child(1) {
  background: blue;
  color: white;
}

.btn-wrap>span:nth-child(2) {
  background: red;
  color: white;
}

.content-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: gray;
  height: max-content;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

.content-form>span {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 1rem;
  height: 1rem;
  background: red;
  border-radius: 100%;
  color: white;
  z-index: 9;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-form>input,
.content-form>button {
  padding: 10px;
  border-radius: 4px;
  border: none;
}

.float-btn {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  padding: 10px;
  border-radius: 10px;
  background: blue;
  color: white;
  font-weight: bold;
  box-shadow: 3px 3px 30px 2px rgba(0,0,0,0.43);
-webkit-box-shadow: 3px 3px 30px 2px rgba(0,0,0,0.43);
-moz-box-shadow: 3px 3px 30px 2px rgba(0,0,0,0.43);
}